[MASTER]
ignore=venv,.venv,__pycache__
jobs=0

[MESSAGES CONTROL]
disable=
    C0114,  ; missing-module-docstring
    C0115,  ; missing-class-docstring
    C0116,  ; missing-function-docstring
    W0511   ; TODO/FIXME

[FORMAT]
max-line-length=100
